<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
<h3>Get a fortune</h3>
<form method=POST>
  <input type="submit" value="GET YOUR FORTUNE">
</form>  
  </body>
</html>
